<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="Bing.SourceDir" value="C:\Users\kilroy\appdata\Local\Microsoft\BingDesktop\en-US\Apps\Wallpaper_5386c77076d04cf9a8b5d619b4cba48e\VersionIndependent\images\" />
    <add key="Bing.DestDir" value="D:\Bing\" />
    <add key="RoboCopy.Path" value="robocopy.exe" />
    <add key="RoboCopy.Args" value="/LOG+:D:\Bing\_log.log" />
  </appSettings>
</configuration>